$poppins-font: 'Poppins', sans-serif;
$montserrat-font: 'Montserrat', sans-serif;

// $dark-color:#333333;

$primary-color:#333333;
$secondary-color:#fcb941;



$gray: #393e46;
$gray-light: #ebebeb;
$gray-dark: #a7a7a7;

$btn-primary-color:#afaeab;

$dark-light:#666666;

$blue-color:#69b4ff;
$blue-dark-color:#93a6b0;
$black-color:#333333;
$red-color:#ff887f;
$orange-color:#b58555;
$green-color:#a6c76c;


$service-bg:#fafafa;

// $yellow-color:#fcb941;

$transition03eio:0.3s ease-in-out;

